@import "../../assets/scss/variable.scss";
.contact {
  width: 100%;
  height: 100%;
  &__content {
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }
  &__text {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 15px;
    &-hello {
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: clamp(
        14px,
        calc(16px + (24 - 14) * ((100vw - 320px) / (1200 - 320))),
        24px
      );
      font-family: "Work Sans", sans-serif;
      line-height: 1;
      font-weight: 600;
      background-color: $bgtag;
      color: $colortag;
      border-radius: 10px;
      width: 200px;
      height: 50px;
    }
    &-title {
      font-size: 48px;
      margin: 0;
      line-height: 1.1;
      font-family: "Eczar", serif;
    }
  }
  &__info {
    display: flex;
    flex-direction: column;
    row-gap: 12px;
    font-family: "Work Sans", sans-serif;
    line-height: 1.2;
    font-weight: 400;
    font-size: 18px;
    &-title {
      font-size: 28px;
      margin: 0;
      line-height: 1.1;
      font-family: "Eczar", serif;
    }
    &-icon {
      display: flex;
      justify-content: center;
      column-gap: 10px;
      img {
        width: 30px;
      }
    }
  }
  &__thumbnail {
    width: 45%;
    margin-left: 55px;
    img {
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
  }
}

@media (max-width: 991px) {
  .contact {
    &__text {
      &-hello {
        font-size: 16px;
        height: 40px;
        width: 140px;
      }
      &-title {
        font-size: 35px;
      }
    }
    &__info {
      &-title {
        font-size: 25px;
      }
      &-icon {
        img {
          width: 25px;
        }
      }
    }
    &__thumbnail {
      width: 38%;
      margin-left: 15px;
    }
  }
}

@media (max-width: 767px) {
  .contact {
    &__text {
      row-gap: 10px;
      &-hello {
        font-size: 14px;
        width: 120px;
        height: 35px;
      }
      &-title {
        font-size: 28px;
      }
    }
    &__thumbnail {
      width: 45%;
      margin-left: 0px;
    }
    &__info {
      row-gap: 8px;
      &-title {
        font-size: 22px;
      }
      &-icon {
        img {
          width: 22px;
        }
      }
    }
  }
}

@media (max-width: 575px) {
  .contact {
    &__content {
      flex-direction: column;
    }
    &__text {
      &-title {
        font-size: 26px;
      }
    }
    &__thumbnail {
      width: 60%;
      margin-left: 0px;
      margin-top: 10px;
    }
    &__info {
      &-title {
        font-size: 20px;
      }
      &-icon {
        img {
          width: 20px;
        }
      }
    }
  }
}
