*,
body,
html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.site__wrapper {
  position: relative;
  overflow: hidden;
}
h1 {
  font-size: 6em;
  font-size: calc(2em + 2vw);
  font-family: "Eczar", serif;
  margin: 0;
}

.intro p {
  width: 50%;
  margin: 0.5em auto;
  font-size: 1.65em;
}

.section {
  font-family: "Work Sans", sans-serif;
  color: #fff;
  text-align: center;
}

/* Backgrounds colors for sections */
.fp-section:nth-child(1) {
  background-image: linear-gradient(128deg, #405d72, #40679E);
}

.fp-section:nth-child(2) {
  background-image: linear-gradient(128deg, #ff9a3f, #ff4b40);
}

.fp-section:nth-child(3) {
  background-image: linear-gradient(188deg,#363062, #4D4C7D);
}

.fp-section:nth-child(4) {
  background-image: linear-gradient(128deg, #13445A, #305C5C);
}
.fp-section:nth-child(5) {
  background-image: linear-gradient(128deg, #cb980b, #3fbcff);
}

/* Overwriting styles for the navigation dots */
#fp-nav ul li a span,
.fp-slidesNav ul li a span {
  background: white;
}
@media (min-width: 768px) {
  .section-project {
    .fp-overflow {
      width: 100%;
      height: 100%;
    }
  }
}
.fp-warning, .fp-watermark {
  display: none !important;
}

#fp-nav ul li a span, .fp-slidesNav ul li a span {
  background-color: #fff;
}